#game-select
	.section-title Select Players
		.time-count
	div(ng-show="!hasPlayersFetched") Loading Players....
	#playerList(ng-show="hasPlayersFetched && players.length")
		.select-box(ng-repeat="player in players" type="{{player.id}}", ng-hide="player.isHidden")
			.game-player(type="{{player.id}}")
				.player-who
				.player-record
					.rec {{ player.played > 0 ? (player.won / player.played * 100).toFixed(2) : '0.00%' }} %
					.title WINS
				.player-avatar
			.player-name(class="text-color-{{player.id}}") {{player.name}}
		.continue-button.hide
			.button Start The Game
	#noPlayerList(ng-show="hasPlayersFetched && !players.length") No players being fetched. Please come back after some time.