#game-select
	.game-select-box
		.section-title Create New Battle
		.create-game-box
			input(type="text", ng-model="gameName" name="gameName", placeholder="Enter an unique name" maxlength=20  ng-class="{'loading' : isGameLoading}")
			.continue-button.display-inline
				.button(ng-click="onSubmitButton()") Submit
			.alert-msg(ng-show="alertMessage.length") {{ alertMessage }}
	.game-select-box
		.section-title Join Other Battle
		.join-game-box
			.continue-button.text-right
			table#gameList(ng-show="hasGamesFetched && games.length")
				tr.game-row(ng-repeat="game in games")
					td {{ game.name }}
					td {{ game.playerCount }}/4 playing
					td
						.continue-button
							.button(ng-click="joinGame(game._id)") Join
			#noGameList(ng-show="!hasGamesFetched || !games.length") No game currently available. Please create a new game or come back after some time.