#game-title
	.img-box
		img(src="/images/banners/snakes-and-ladders-banner.png" alt="Snakes and Ladders Banner")
	.continue-button
		.button(ng-show="!isGameEnter" ng-click="onGameEnter()") Enter The Game
		.boxes(ng-show="isGameEnter")
			.box.half-box
				.button(ng-click="onGameSelect('local')") Quick Play
			.box.half-box
				.button(ng-click="onGameSelect('global')") Global Battle