# Created by .gitignore support plugin (hsz.mobi)

### OSX ###
.DS_Store

### PhPStorm / IntellJ IDEA ###
.idea/
*.iml

### Build Related ###
public/images/memes/temp/
public/js/interaction*.js
public/css/**/*.css
public/js/utils/

### Dependencies ###
node_modules/
bower_components/
npm-debug.log
.grunt