# Created by .gitignore support plugin (hsz.mobi)

### OSX ###
.DS_Store

### PhPStorm / IntellJ IDEA ###
.idea/
*.iml

### Build Related ###
public/js/interaction*.js
public/css/
public/js/utils/

### Configuration Files ###
.env
.env.local

### Dependencies ###
node_modules/
npm-debug.log
.grunt