doctype html
html(ng-app='gameApp')
	block vars
	head
		meta(charset='utf8')
		base(href='/')
		link(rel='shortcut icon', type='image/png', href='/images/icons/snakes-and-ladders-logo.png')
		block head
	body
		block content
		script(src='/js/utils/angular' + fileExtn + '.js')
		script(src='/js/utils/angular-ui-router' + fileExtn + '.js')
		block js