extends layouts/defaultGame

block head
	link(rel='stylesheet', href='/css/style#{fileExtn}.css')
	title Snakes and Ladders
	include modals/memeModal

block content
	.main-content(ng-controller='appController')
		h2 {{intro}}
		a(ui-sref='home') Home
		.game-layout(ui-view)

block js
	script(src='/js/gameApp.js')
	script(src='/js/gameAppController.js')
	//script(type='text/javascript').
		$(document).ready(function () {
			gamePlay.initSnakeLadderGame();
		});