extends layouts/defaultGame

block head
	link(rel='stylesheet', href='/css/style#{fileExtn}.css')
	title Snakes and Ladders
	include modals/memeModal

block content
	.game-layout(class="{{gameLayoutBackGround}}" ng-controller='appController')
		.back-button(ng-show="settings.isBackEnabled")
			.button.js-goBack(ng-click="onBackClick()") Go Back
		div(ui-view)

block js
	script(src='/js/general.js')
	script(src='/socket.io/socket.io.js')
	script(src='/js/interaction#{fileExtn}.js')