@media screen and (max-width: @mobile-width) {
	.game-select-box {
		margin-bottom: @spacing-large;
		input[type='text'] {
			font-size: 20px;
			width: 350px;
			background-size: 32px;
		}
		table {
			width: 85%;
			tr {
				font-size: 25px !important;
			}
		}
	}
}

/* New Responsive Layout - Mobile/Tablet (upto 960px) */
@media screen and (max-width: 960px) {
	.button {
		font-size: 30px;
	}

	.hero-image {
		max-width: 600px;
	}

	.hero-cta {
		gap: @spacing-large;
	}

	.section-title {
		font-size: 60px;
	}

	.game-container {
		flex-direction: column;
		max-width: 720px;
		gap: 30px;
		padding: @spacing-large;
	}

	.game-section--board {
		order: 2;
	}

	.game-section--score {
		order: 1;
	}

	.score-box {
		grid-template-columns: repeat(2, 1fr);
		gap: 40px 30px;
	}
}

@media screen and (max-width: 768px) {
	.game-container {
		max-width: 480px;
		gap: 20px;
		padding: @spacing-medium;
	}

	.game-section--score {
		gap: @spacing-medium;
	}

	.dice-box {
		height: 100px;
	}

	.dice-show {
		width: 80px;
		height: 50px;

		.message {
			font-size: 30px;
		}
	}

	.dice-button {
		font-size: 24px;
	}

	.score-box {
		gap: 20px 10px;
	}

	.score-board {
		height: 20px;
		font-size: 12px;
		border-radius: 4px;
		padding: 0 10px;

		.game-player {
			width: 30px;
			height: 30px;
			border-width: 3px;
		}

		&:nth-of-type(odd) {
			.score-sheet {
				flex-direction: row;
				margin-left: 30px;
			}
			.game-player {
				left: 2px;
			}
			.player-message {
				left: 40px;
			}
		}

		&:nth-of-type(even) {
			.score-sheet {
				flex-direction: row-reverse;
				margin-right: 30px;
			}
			.game-player {
				right: 2px;
			}
			.player-message {
				right: 40px;
			}
		}
	}
}
