/* New Responsive Layout - Tablet (upto 960px) */
@media screen and (max-width: 960px) {
	.back-button {
		top: 20px;
		left: 20px;
	}
	.form-box {
		gap: @spacing-base;
	}

	input[type='text'] {
		font-size: 20px;
	}

	.hero-image {
		max-width: 600px;
	}

	.hero-cta {
		gap: @spacing-large;
	}

	.game-container {
		flex-direction: column;
		max-width: 720px;
		gap: 30px;
		padding: @spacing-large;
	}

	.game-section--board {
		order: 2;
	}

	.game-section--score {
		order: 1;
	}

	.score-box {
		grid-template-columns: repeat(2, 1fr);
		gap: 40px 30px;
	}
}

/* New Responsive Layout - Mobile (upto 768px) */
@media screen and (max-width: 768px) {
	.game-container {
		max-width: 480px;
		gap: 20px;
		padding: 10px 20px;
	}

	.game-section--score {
		gap: @spacing-medium;
	}

	.player-select-item {
		.game-player {
			width: 90px;
			height: 90px;
			border-width: 4px;
		}

		.player-who {
			font-size: 20px;
		}

		.player-record-key {
			font-size: 16px;
		}

		.player-record-value {
			font-size: 24px;
		}
	}

	.game-board {
		.game-player {
			width: 30px;
			height: 30px;
			border-width: 2px;
		}
	}

	.dice-box {
		height: 100px;
	}

	.dice-show {
		width: 80px;
		height: 50px;

		.message {
			font-size: 30px;
		}
	}

	.score-box {
		gap: 20px 10px;
	}

	.score-board {
		height: 20px;
		font-size: 12px;
		border-radius: 4px;
		padding: 0 10px;

		.game-player {
			width: 30px;
			height: 30px;
			border-width: 2px;
		}

		&:nth-of-type(odd) {
			.score-sheet {
				flex-direction: row;
				margin-left: 30px;
			}
			.game-player {
				left: 2px;
			}
			.player-message {
				left: 40px;
			}
		}

		&:nth-of-type(even) {
			.score-sheet {
				flex-direction: row-reverse;
				margin-right: 30px;
			}
			.game-player {
				right: 2px;
			}
			.player-message {
				right: 40px;
			}
		}
	}
}
