.game-layout {
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

#game-title {
	.text-center;

	.img-box {
		height: 400px;
	}

	img {
		width: 100%;
		max-width: 800px;
	}
}

.section-title {
	margin: @spacing-xxlarge 0;
	font-size: 75px;
	.text-center;
}

.time-count {
	.text-center;
	font-size: 30px;
	.text-button;
}

.game-select-box {
	padding: @spacing-medium;
	margin-bottom: @spacing-xxlarge;
	.text-center;
	input[type='text'] {
		background: transparent;
		padding: @spacing-medium;
		font-size: 30px;
		width: 700px;
		background-position: 98% center;
		background-repeat: no-repeat;
		border: @border-width-thick @border-style-base @border-color-white;
		border-radius: 10px;
		vertical-align: @text-middle;
		.text-white;
		&::-webkit-input-placeholder {
			.text-white;
		}
		&:-moz-placeholder {
			.text-white;
		}
		&::-moz-placeholder {
			.text-white;
		}
		&:-ms-input-placeholder {
			.text-white;
		}
		&:focus {
			box-shadow: none;
			-webkit-box-shadow: none;
			outline: 0;
		}
	}
	.alert-msg {
		margin-top: @spacing-base;
		.text-white;
	}
	.create-game-box .continue-button {
		width: 150px;
	}
	.continue-button {
		font-size: 45px;
		margin: 0 0 0 @spacing-large;
		vertical-align: @text-middle;
	}
	&:last-child {
		border-top: @border-width-thick @border-style-base @border-color-white;
	}
	table#gameList {
		width: 75%;
		margin: 0 auto;
		tr {
			font-size: 30px;
			td {
				border-bottom: @border-width-base @border-style-base @border-color-white;
				padding: @spacing-base 0;
				width: 33%;
				height: 70px;
				&:first-child {
					.text-left;
				}
				.continue-button {
					.text-right;
				}
			}
			&:last-child {
				td {
					border-bottom: 0;
				}
			}
		}
	}
}

.player-select-box {
	.display-inline;
	height: 320px;
	width: 250px;
	cursor: pointer;
	&.hide {
		display: none;
	}
	&:hover {
		.game-player {
			.player-avatar {
				opacity: 0.1;
			}
			.player-record {
				visibility: visible;
				opacity: 1;
			}
		}
	}
	&.selected {
		.player-avatar {
			.bkground-lighter;
			opacity: 0.1;
		}
	}
	.game-player {
		margin: 20px auto;
		position: static;
		width: 200px;
		height: 200px;
		border: 6px solid;
		.bkground-white;
		.player-avatar {
			background-position-y: 60% !important;
		}
		.player-who {
			position: absolute;
			padding: 40px 0;
			.text-center;
			width: inherit;
			font-size: 50px;
		}
		.player-record {
			visibility: hidden;
			opacity: 0;
			.display-transition;
			position: absolute;
			width: inherit;
			.text-center;
			.bkground-white;
			border-radius: inherit;
			padding: @spacing-xxlarge*2 0;
			.title {
				font-size: 30px;
			}
			.rec {
				font-size: 50px;
			}
		}
	}
	.player-name {
		.text-white;
		.text-shadow;
		margin: @spacing-large 0;
		font-size: 30px;
	}
}

.continue-button {
	height: 100px;
}

.back-button {
	position: absolute;
	font-size: 25px;
	top: 20px;
	left: 20px;
	.text-button;
	cursor: pointer;
	.button {
		.display-inline;
		&:hover {
			.zoom-text;
		}
	}
}

.continue-button {
	.text-center;
	.text-button;
	margin: @spacing-xlarge*2 0;
	font-size: 75px;
	.button {
		.display-inline;
		cursor: pointer;
		&:hover {
			.zoom-text;
		}
	}
	.box {
		font-size: 60px;
	}
}

.player-message {
	position: absolute;
	bottom: 0;
	transform: translateY(100%);
	font-size: 80%;
	.text-shadow;
}

.game-player {
	box-sizing: content-box;
	position: absolute;
	border-radius: 50%;
	border: 3px solid;
	&[type='p-1'] {
		color: @p-1color;
		.player-avatar {
			background: url('../images/avatars/avatar-1.png') no-repeat;
		}
	}
	&[type='p-2'] {
		color: @p-2color;
		.player-avatar {
			background: url('../images/avatars/avatar-2.png') no-repeat;
		}
	}
	&[type='p-3'] {
		color: @p-3color;
		.player-avatar {
			background: url('../images/avatars/avatar-3.png') no-repeat;
		}
	}
	&[type='p-4'] {
		color: @p-4color;
		.player-avatar {
			background: url('../images/avatars/avatar-4.png') no-repeat;
		}
	}
	&[type='p-5'] {
		color: @p-5color;
		.player-avatar {
			background: url('../images/avatars/avatar-5.png') no-repeat;
		}
	}
	&[type='p-6'] {
		color: @p-6color;
		.player-avatar {
			background: url('../images/avatars/avatar-6.png') no-repeat;
		}
	}
	&[type='p-7'] {
		color: @p-7color;
		.player-avatar {
			background: url('../images/avatars/avatar-7.png') no-repeat;
		}
	}
	&[type='p-8'] {
		color: @p-8color;
		.player-avatar {
			background: url('../images/avatars/avatar-8.png') no-repeat;
		}
	}
}

.player-avatar {
	height: inherit;
	background-color: #fff;
	background-size: 400% !important;
	background-position-y: 60% !important;
	border-radius: 50%;

	&[type='normal'] {
		background-position-x: 0% !important;
	}
	&[type='sad'] {
		background-position-x: 33% !important;
	}
	&[type='angry'] {
		background-position-x: 67% !important;
	}
	&[type='happy'] {
		background-position-x: 100% !important;
	}
}

#noPlayerList,
#noGameList {
	padding: @spacing-large;
	border: @border-width-thick @border-style-base @border-color-white;
	border-radius: 5px;
	width: 80%;
	margin: 0 auto;
	.text-white;
	font-size: 30px;
}

/* Mobile Responsive Game Layout */
.game-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 30px;
	max-width: 1280px;
	margin: 0 auto;
	height: 100%;
	padding: 30px;
}

.game-section {
	flex: 1;
}

.game-section--board {
	display: flex;
	flex-direction: column;
	gap: @spacing-medium;
}

.game-board {
	position: relative;
	width: 100%;
	aspect-ratio: 1 / 1;

	.game-player {
		width: 40px;
		height: 40px;
		transition:
			left 0.3s linear,
			bottom 0.3s linear;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 25px;
	}
}

.game-section--score {
	display: flex;
	flex-direction: column;
	gap: @spacing-xlarge;
}

.score-board {
	display: flex;
	align-items: center;
	padding: 0 @spacing-large;
	position: relative;
	color: #fff;
	border-radius: 8px;
	font-size: 20px;
	height: 40px;

	&:nth-of-type(odd) {
		.score-sheet {
			flex-direction: row;
			margin-left: 70px;
		}
		.game-player {
			left: 5px;
		}
		.player-message {
			left: 85px;
		}
	}

	&:nth-of-type(even) {
		.score-sheet {
			flex-direction: row-reverse;
			margin-right: 70px;
		}
		.game-player {
			right: 5px;
		}
		.player-message {
			right: 85px;
		}
	}

	.game-player {
		width: 60px;
		height: 60px;
		border: 5px solid;
		top: 50%;
		transform: translateY(-50%);
	}
}

.score-sheet {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 100%;

	span:last-child {
		font-size: 150%;
	}
}

.dice-box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 5px;
	height: 130px;
}

.dice-show {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 70px;
	border: 2px solid;
	border-radius: 5px;
	background-color: @bg-color-white;

	&.animate {
		background: url('../images/gifs/rolling-dice.gif') no-repeat center;
		background-size: contain;
		background-color: @bg-color-white;
	}

	.message {
		font-size: 40px;
		.text-white;
	}
}

.dice-button {
	font-size: 40px;
	.text-button;
	.text-center;
	.button {
		.display-inline;
		cursor: pointer;
	}

	&:not([disabled]) {
		.button:hover {
			.zoom-text;
		}
	}

	&[disabled],
	&.disabled {
		.button {
			color: @text-color-button-disabled;
		}
	}
}

.score-box {
	display: grid;
	grid-template-columns: 1fr;
	gap: 30px;
}
