@mobile-width: 640px;
@max-width: 1200px;
@min-width: 600px;

@bg-color-game-1: #d4e8f0;
@bg-color-game-2: #d8f0dc;
@bg-color-game-3: #e8dcff;
@bg-color-game-4: #ffe4f0;
@bg-color-game-5: #fff9d0;
@bg-color-game-6: #ffe5cc;

@bg-color-header: #f1f1f2;
@bg-color-base: #b2e7fa;
@bg-color-base-light: lighten(@bg-color-base, 10%);
@bg-color-base-dark: darken(@bg-color-base, 20%);
@bg-color-base-darker: darken(@bg-color-base, 40%);
@bg-color-light: #fafafa;
@bg-color-lighter: #fcfcfc;
@bg-color-dark: darken(@bg-color-light, 20%);
@bg-color-darker: darken(@bg-color-light, 40%);
@bg-color-white: #fff;
@bg-color-tab: #ababab;
@bg-color-tab-light: lighten(@bg-color-tab, 10%);
@bg-color-tinted-black: rgba(141, 141, 141, 0.5);

@p-1color: #d63939;
@p-2color: #2b5db8;
@p-3color: #c946c9;
@p-4color: #d89400;
@p-5color: #e67700;
@p-6color: #2f9e44;
@p-7color: #0c8599;
@p-8color: #7c3aed;

//font size
@font-size-base: 14px;
@font-size-xsmall: floor((@font-size-base * 0.72));
// ~10px
@font-size-small: ceil((@font-size-base * 0.85));
// ~12px
@font-size-medium: ceil((@font-size-base * 1.14));
// ~16px
@font-size-large: ceil((@font-size-base * 1.25));
// ~18px
@font-size-xlarge: ceil((@font-size-base * 1.5));
// ~21px

//font weight
@font-bold: bold;
@font-normal: normal;

//font style
@font-italic: italic;

// variables for line height
@line-height-small: 1.2em;
@line-height-default: 1.6em;
@line-height-large: 2em;

//Text case
@text-case-capitalize: capitalize;
@text-case-upper: uppercase;

//text-align
@text-top: top;
@text-center: center;
@text-middle: middle;
@text-left: left;
@text-right: right;
@text-justify: justify;

//text-color
@text-color-base: #666;
@text-color-darker: darken(@text-color-base, 30%);
@text-color-dark: darken(@text-color-base, 15%);
@text-color-light: lighten(@text-color-base, 15%);
@text-color-lighter: lighten(@text-color-base, 30%);
@text-color-special: #00adef;
@text-color-special-dark: darken(@text-color-special, 15%);
@text-color-shadow: #848484;
@text-color-error: #ff5a00;
@text-color-white: #fff;
@text-color-button: #fafafa;
@text-color-button-disabled: #cdcdcd;
@text-color-button-shadow: #ababab;

//spacing
@spacing-base: 5px;
@spacing-small: @spacing-base / 2;
@spacing-medium: 2 * @spacing-base;
@spacing-large: 3 * @spacing-base;
@spacing-xlarge: 4 * @spacing-base;
@spacing-xxlarge: 5 * @spacing-base;

//borders
@border-width-base: 1px;
@border-width-thick: 2px;
@border-color-base: #00adef;
@border-color-light: #ddd;
@border-color-white: #fff;
@border-color-dark: #8d8d8d;
@border-color-gray: #acacac;
@border-color-error: #ff5a00;
@border-style-base: solid;
@border-style-dashed: dashed;

@border-radius-base: 5px;
@border-radius-full: 100%;

//buttons
@button-default-background: #ccc;
@button-disabled-background: #f0f0f0;
@button-primary-background: #25b89a;
@button-secondary-background: #00adef;
@button-primary-color: white;
@button-secondary-color: white;
@button-color-default: #222;
@button-color-disabled: #777;
@button-border-default: 1px solid #cfcfcf;
@button-radius-default: 8px;

//responsive
@media-breakpoint-medium: 768px;
@media-breakpoint-large: 992px;
@media-breakpoint-xlarge: 1200px;
@media-max-width-medium: ((@media-breakpoint-medium - 1));
